<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CrmConnectionOrgName" value="" />
    <add key="CrmConenctionRegion" value=""/>
    <add key="CrmConnectionUsername" value="" />
    <add key="CrmConnectionPassword" value="" />
    <add key="DataMigrationConnectionString" value="C:\temp\MOCK_DATA.xlsx" />
    <add key="DryRunMode" value="true" />
    <add key="MigrateClients" value="true" />
    <add key="MigrateAccounts" value="true" />
    <add key="MigrateProducts" value="true" />
    <add key="MigrateInvoices" value="true" />
    <add key="ClientIdNumStart" value="0" />
    <add key="AccountIdNumStart" value="0" />
    <add key="ProductIdNumStart" value="0" />
    <add key="InvoiceIdNumStart" value="0" />
  </appSettings>
</configuration>